<div id="container">
            <!-- Começo do menu do topo -->
            <div id="topo">
                <div class="topo1"><a href="/"><img src="images/topo1.png" width="80%" title="Antix"/></a></div>
                <div class="topo4"><a href="logout"><img src="images/topo4.png" width="80%" title="LogOut"/></a></div>
                <div class="topo3"><a href="login"><img src="images/topo3.png" width="80%" title="LogIn"/></a></div>
                <div class="topo2"><a href="posts"><img src="images/topo2.png" width="80%" title="Pesquisar"/></a></div>
                <div id="menu-topo">
                <ul>
                    <li><a href="">HOSTEL FELICIDAD</a> </li>
                    <li><a href="">ALVORADA</a> </li>
                    <li><a href="">NOVIDADES</a> </li>
                    <li><a href="">FEMININO</a> </li>
                    <li><a href="">ACESSÓRIOS</a> </li>
                    <li><a href="">ANTIKINHA</a> </li>
                    <li><a href="">BAZAR</a> </li>
                    <li><a href="">NOSSAS LOJAS</a> </li>
                    <li><a href="">BLOG</a> </li>
                </ul>
                </div>	 		
            </div>
            <!-- Fim menu topo -->
</div>            