<!DOCTYPE html>
<html>
    <head>
        <title> Roupas Femininas │ Antix </title>
        <link rel="shortcut icon" href="images/icon.png">
        <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <meta charset="utf-8">
    </head>

    <body>
        <div id="container">
            <!-- Começo do conteúdo de texto -->
            <div id="conteudo">
                <p class="roupas">ROUPAS</p><br>
                <p class="conteudo">Em um contexto onde a moda feminina tendia a tornar-se commoditie e parecia que o mercado brasileiro já não conseguiria uma renovação, surgiu a Antix. Criada em meados de 2006 na cidade de São Paulo, a marca tem como propósito despertar sensações positivas por meio da conexão emocional e desejo que oferece com seus produtos.</p>
            </div> <!-- fim conteúdo de texto-->
            <!--Começo menu filtrar -->
            <div id="filtrar">
                <ul>
                    <li>FILTRAR POR:</li>
                    <li>Categoria:<span>▼</span></li>
                    <li>Cor:<span>▼</span></li>
                    <li>Coleção:<span>▼</span></li>
                    <li>Estampa:<span>▼</span></li>
                    <li>Tamanho:<span>▼</span></li>
                    <li>Preço:<span>▼</span></li>
                </ul>
            </div> <!-- fim filtrarr-->
            <div id="ordenar"><br> <!-- Começo ordenar -->
                <form>
                ORDENAR POR:
                <select>
                <option value="relevancia">Relevância</option>
                <option value="nome">Nome</option>
                <option value="preco">Preço</option>
                <option value="colecao">Coleção</option>
                <option value="mais recentes">Mais Recentes</option>
            </select></form>
            <ul>1-24 de 224
                <li><a href=""><span> ►</span</a></li>
                    <li><a href="">5</a></li>
                        <li><a href="">4</a></li>
                            <li><a href="">3</a></li>
                                <li><a href="">2</a></li>
                                    <li  class="bordinha"><a href="">1</a></li>

            </ul>
            </div><!-- fim ordenar-->
            <!--Começo conteúdo de imagens-->
            <div id="produtos">
                <div id="imagem1"><img src="images/vest1-1.jpg" width="100%">
                    <p class="preco">Vestido Midi Horizonte Sublime II</p>
                    <p class="preco">R$375,00</p>
                </div>
                <div id="imagem2">
                    <img src="images/vest2-1.jpg" width="100%">
                    <p class="preco">Vestido Midi Desejo de Verão Marinho</p>
                    <p class="preco">R$415,00</p>
                </div>
                <div id="imagem3">
                        <img src="images/vest3-1.jpg" width="100%">
                        <p class="preco">Vestido Curto Calmaria I Verde</p>
                        <p class="preco">R$295,00</p>
                </div>
                <div id="imagem4">
                        <img src="images/vest4-1.jpg" width="100%">
                        <p class="preco">Macaquinho Tesouro Perdido Verde Claro</p>
                        <p class="preco">R$375,00</p>
                </div>
            </div>	 <!--fim conteúdo de imagens-->
            <div id="frescurinha">
                <img src="images/flut.png" width="80%">
            </div>
        </div> <!-- fim container-->
    </body>
</html>
